:root {
  --COLOR_PRIMARY: rgb(0, 80, 143);
  --COLOR_GRAY: #63636A;
  --COLOR_GRAY_WITH_TRANSPARENCY: #63636a4a;
  --COLOR_LIGHT: rgba(248, 249, 250, 1);
  --COLOR_WHITE: #FFFFFF;
  --COLOR_DANGER: #BE010F;
  --COLOR_DARK_BLUE: rgb(0, 54, 95);
  --COLOR_GRAY_LIGHT: rgb(233, 237, 237);
}